.half-circle {
    width: 200px;
    height: 200px;
    background-color: gold;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 10px solid gray;
    /*border-left: 100px;*/
    /*border-bottom: 0;*/

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.needle {
    position: absolute;
      width: 3.7em;
      height: 0.4em;
      border-radius: 3px;
      background: #000000;
      /*box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);*/
      transform-origin: 50% 100%;
      /*top: 6.7em;*/
      right: 50%;
      top:50%;
      /*transform-origin: right;*/
      transform: rotate(0deg);

}

.box{
    position: relative;
    width:200px;
}