
.sleep{
    
    background:blue;
    width:100px;
    height:100px;
    transition: all linear 0.5s;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color:white;
    font-size: 20px;
    font-family:times new roman;
    font-weight:bold;
    font-style:italic;
    margin: 10px;    
}


.hungry{

    background: red;
    width:100px;
    height:100px;
    transition: all linear 0.5s;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color:white;
    font-size: 20px;
    font-family:times new roman;
    font-weight:bold;
    font-style:italic;
    margin: 10px;
    
}

.eating{
 
    background: green;
    width:100px;
    height:100px;
    transition: all linear 0.5s;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color:white;
    font-size: 20px;
    font-family:times new roman;
    font-weight:bold;
    font-style:italic;
    margin: 10px;
}


.circle-container {
    position: relative;
    background: #6E4600;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(15em); } /* 12em = half the width of the wrapper */
.deg72 { transform: rotate(85deg) translate(15em) rotate(-85deg); }
.deg144 { transform: rotate(160deg) translate(18em) rotate(-160deg); }
.deg216 { transform: rotate(216deg) translate(20em) rotate(-216deg); }
.deg288 { transform: rotate(275deg) translate(18em) rotate(-275deg); }