<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    {% load static %}

</head>

<body>

    <div class="modal fade" id="newfolder" role="dialog">
        <div class="modal-dialog">
                     <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/d/new/{{cur.id}}/">
                        {% csrf_token %}
                        
                        {{newfolder}}
                    </form>
                </div>
            </div>
                  
        </div>
    </div>
    <div class="modal fade" id="delfolder" role="dialog">
        <div class="modal-dialog">
                     <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Folders</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/d/del/{{cur.id}}/">
                        {% csrf_token %}

                        {{delfolder}}
                        <button class="btn btn-primary btn-danger" type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="delFile" role="dialog">
        <div class="modal-dialog">
                     <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Files</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/f/del/{{cur.id}}/">
                        {% csrf_token %}

                        {{delfile}}
                        <button class="btn btn-primary btn-danger" type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="newfile" role="dialog">
        <div class="modal-dialog">
                     <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">File Name</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/f/new/{{cur.id}}/">
                        {% csrf_token %}

                        {{newfile}}
                        <button class="btn btn-primary btn-danger" type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class = "panel panel-primary"
        style="margin : 0.25cm 0.25cm 0.25cm 0.25cm;">
        <div class="panel-heading">
            <h2>Tree-Structured Directory</h2>
        </div>
        <ul class="breadcrumb"></ul>
        <div class="panel-body">
            <!---<form action = "process" method="post" id="mainform">
                {% csrf_token %}
            </form>-->
            <div id="path" style="display: inline">
            {% for p in path %}
                <a href="/d/{{p.id}}">{{p.name}}</a> >
            {% endfor %}
            {{cur.name}}
            </div>
            <br>
            {% if folders%}
            {% for folder in folders %}
                <a href="/d/{{folder.id}}">{{folder.name}}</a><br>
            {% endfor %}
            {% endif %}
            {% if files %}
            {% for file in files %}
                <a href="/f/text/{{file.id}}" style="color:green">{{file.name}}</a><br>
            {% endfor %}
            {% endif %}
        </div>
        
        <div>
            <button class="button" onclick="$('#right-charms').data('charms').toggle()"
            style="background-color: rgb(50, 93, 163);color:rgb(256,256,256)">
                Options</button>
            <a href="http://127.0.0.1:8000/"><button class="button"
            style="background-color: rgb(50, 93, 163);color:rgb(256,256,256)">Root
                </button>
            </div></a>
        <div data-role="charms" data-position="bottom" id="right-charms" data-opacity="1.0"
             class="charms bottom-side" style="background-color: rgb(50, 93, 163);">
            <br>
            <button type="button" class="button primary yellow outline" data-toggle="modal"
                    data-target="#newfile">Add File</button>
            <!--<br><br>-->
            <button type="button" class="button primary yellow outline" data-toggle="modal"
                    data-target="#newfolder">Create Directory</button>
            <!--<br><br>-->
            <button button type="button" class="button primary yellow outline" data-toggle="modal"
                    data-target="#delFile"
                value="rm">Remove File</button>
            <!--<br><br>-->
            <!--<form method="POST" action="/d/del/{{cur.id}}/">-->
                <!--{% csrf_token %}-->
                <!--{{delfolder}}-->
                <!--<button class="btn btn-primary btn-danger" type="submit">Remove Directory</button>-->
            <!--</form>-->
            <button class="button primary yellow outline" data-toggle="modal"
                    data-target="#delfolder">Remove Directory</button>
            <br><br>
            <!--<button class="btn btn-primary btn-warning" name="command"-->
                <!--value="cd">Change Directory</button>-->
        </div>
        <!--<nav data-role="ribbonmenu">-->
    <!--<ul class="tabs-holder">-->
        <!--<li><a href="#section-group">Group</a></li>-->
    <!--</ul>-->

    <!--<div class="content-holder">-->
        <!--<div class="section" id="section-group">-->
            <!--<div class="group">-->

                <!--<div data-role="buttonsGroup" data-cls-active="active">-->
                    <!--<button class="ribbon-button">-->
                        <!--<span class="icon">-->
                            <!--<span class="mif-vertical-align-top"></span>-->
                        <!--</span>-->
                        <!--<span class="caption">Top</span>-->
                    <!--</button>-->
                    <!--<button class="ribbon-button">-->
                        <!--<span class="icon">-->
                            <!--<span class="mif-vertical-align-center"></span>-->
                        <!--</span>-->
                        <!--<span class="caption">Center</span>-->
                    <!--</button>-->
                    <!--<button class="ribbon-button">-->
                        <!--<span class="icon">-->
                            <!--<span class="mif-vertical-align-bottom"></span>-->
                        <!--</span>-->
                        <!--<span class="caption">Bottom</span>-->
                    <!--</button>-->
                <!--</div>-->

                <!--<span class="title">Role group</span>-->
            <!--</div>-->

            <!--<div class="group">-->
                <!--<div class="ribbon-toggle-group">-->
                    <!--<button class="ribbon-icon-button">-->
                            <!--<span class="icon">-->
                                <!--<span class="mif-list"></span>-->
                            <!--</span>-->
                        <!--<span class="caption">List</span>-->
                    <!--</button>-->

                    <!--<button class="ribbon-icon-button">-->
                            <!--<span class="icon">-->
                                <!--<span class="mif-apps"></span>-->
                            <!--</span>-->
                        <!--<span class="caption">Content</span>-->
                    <!--</button>-->

                    <!--<button class="ribbon-icon-button">-->
                            <!--<span class="icon">-->
                                <!--<span class="mif-table"></span>-->
                            <!--</span>-->
                        <!--<span class="caption">Icons</span>-->
                    <!--</button>-->

                    <!--<button class="ribbon-icon-button">-->
                            <!--<span class="icon">-->
                                <!--<span class="mif-image"></span>-->
                            <!--</span>-->
                        <!--<span class="caption">Small icons</span>-->
                    <!--</button>-->

                    <!--<button class="ribbon-icon-button">-->
                            <!--<span class="icon">-->
                                <!--<span class="mif-images"></span>-->
                            <!--</span>-->
                        <!--<span class="caption">Large icons</span>-->
                    <!--</button>-->

                    <!--<button class="ribbon-icon-button">-->
                            <!--<span class="icon">-->
                                <!--<span class="mif-windows"></span>-->
                            <!--</span>-->
                        <!--<span class="caption">Tiles</span>-->
                    <!--</button>-->
                <!--</div>-->

                <!--<span class="title">Group class</span>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

</body>
